//*******************************************************************************
// LISTS
//*******************************************************************************


//
// List Default
//
.list {
  padding-left: 20px;
}



//
// List unstyled - without Numbers/Bullets
//
.list--unstyled {
  padding-left: 0;
  list-style: none;
}



//
.list--inline {
  padding-left: 0;
  list-style: none;
}



//
.list--inline-item  li {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 5px;
  }
}




